<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h3 class="presentation-title">Listado de Clientes</h3> 
                </div>
                <h2 class="presentation-subtitle-form text-center" >Revisa los clientes registrados en la plataforma</h2>
                <hr>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        </div>
    </div>
    <div class="container mt-5 mb-3">
    	<h1>Reporte de Clientes</h1>
    	<a class="btn btn-primary my-2 mx-1" [routerLink]="['/register-client']">Crear Cliente</a>
        <a class="btn btn-primary my-2 mx-1" (click)="getClienteFrecuente()">Cliente Más Frecuente</a>
        <a class="btn btn-primary my-2 mx-1" (click)="resetForm()">Todos los clientes</a>
    	<div class="row">
    		<div class="col-md-12">
    			<table class="table table-striped table-responsive-sm">
				  <thead>
				    <tr>
				      <th scope="col">Correo</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Celular</th>
				      <th scope="col">Dirección</th>
				      <th scope="col">Edad</th>
				      <th scope="col">Acción</th>
				    </tr>
				  </thead>
				  <tbody *ngFor="let cliente of clientes">
				    <tr>
				      <td>{{cliente.correo}}</td>
				      <td>{{cliente.nombre}}</td>
				      <td>{{cliente.celular}}</td>
				      <td>{{cliente.direccion}}</td>
				      <td>{{cliente.edad}}</td>
				      <td><a class="btn btn-primary mx-1 my-1 btn-sm" [routerLink]="['/edit-client', cliente.correo]">Editar</a></td>
				    </tr>
				  </tbody>
				</table>
    		</div>
    	</div>
    </div>
</div>
