<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Tienda FullGame</a></li>
                    <li><a href="https://github.com/dhurrego/front-tiendafullgame">GitHub</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, By Deivid Urrego
                </span>
            </div>
        </div>
    </div>
</footer>
